<form>
  <div class="input-group">
    <input type="number" placeholder="ID" aria-label="First name" [(ngModel)]="user.id" name="id" class="form-control">
    <input type="text" placeholder="Name" aria-label="Last name" [(ngModel)]="user.name" name="name" class="form-control">
    <input type="number" placeholder="Age" aria-label="Last name" [(ngModel)]="user.age" name="age" class="form-control">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="addUser(user)" id="button-addon2">Add User</button>
    </div>
  </div>
</form>
